In [1]:
import pandas as pd
from apyori import apriori


base_mercado1 = pd.read_csv('mercado.csv')
print(base_mercado1)

      leite cerveja       pao  manteiga
0      cafe     pao  manteiga       NaN
1      cafe     pao  manteiga       NaN
2     leite    cafe       pao  manteiga
3   cerveja     NaN       NaN       NaN
4  manteiga     NaN       NaN       NaN
5       pao     NaN       NaN       NaN
6    feijao     NaN       NaN       NaN
7     arroz  feijao       NaN       NaN
8     arroz     NaN       NaN       NaN

In [2]:
transacoes = []
for i in range(len(base_mercado1)):
    transacoes.append([str(base_mercado1.values[i, j]) for j in range(base_mercado1.shape[1])])
    
print(transacoes)

[['cafe', 'pao', 'manteiga', 'nan'], ['cafe', 'pao', 'manteiga', 'nan'], ['leite', 'cafe', 'pao', 'manteiga'], ['cerveja', 'nan', 'nan', 'nan'], ['manteiga', 'nan', 'nan', 'nan'], ['pao', 'nan', 'nan', 'nan'], ['feijao', 'nan', 'nan', 'nan'], ['arroz', 'feijao', 'nan', 'nan'], ['arroz', 'nan', 'nan', 'nan']]

In [3]:
regras = apriori(transacoes, min_support=0.3, min_confidence=0.8, min_lift=2)
resultados = list(regras)
print(resultados)

[RelationRecord(items=frozenset({'manteiga', 'cafe'}), support=0.3333333333333333, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.25)]), RelationRecord(items=frozenset({'pao', 'cafe'}), support=0.3333333333333333, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.25)]), RelationRecord(items=frozenset({'manteiga', 'pao', 'cafe'}), support=0.3333333333333333, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga', 'pao'}), confidence=1.0, lift=3.0), OrderedStatistic(items_base=frozenset({'manteiga', 'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.25), OrderedStatistic(items_base=frozenset({'pao', 'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.25), OrderedStatistic(items_base=frozenset({'manteiga', 'pao'}), items_add=frozenset({'cafe'}), confidence=1.0, lift=3.0)])]

In [4]:
len(resultados)

3

In [5]:
resultados[0]

RelationRecord(items=frozenset({'manteiga', 'cafe'}), support=0.3333333333333333, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.25)])

In [6]:
A = []
B = []
suporte = []
confianca = []
lift = []

for resultado in resultados:
    s = resultado[1]
    result_rules = resultado[2]
    for result_rule in result_rules:
        a = list(result_rule[0])
        b = list(result_rule[1])
        c = result_rule[2]
        l = result_rule[3]
        A.append(a)
        B.append(b)
        confianca.append(c)
        suporte.append(s)
        lift.append(l)

In [7]:
rules_df = pd.DataFrame({'A': A, 'B': B,  'suporte': suporte, 'confianca': confianca, 'lift': lift})

rules_df

                  A                B   suporte  confianca  lift
0            [cafe]       [manteiga]  0.333333        1.0  2.25
1            [cafe]            [pao]  0.333333        1.0  2.25
2            [cafe]  [manteiga, pao]  0.333333        1.0  3.00
3  [manteiga, cafe]            [pao]  0.333333        1.0  2.25
4       [pao, cafe]       [manteiga]  0.333333        1.0  2.25
5   [manteiga, pao]           [cafe]  0.333333        1.0  3.00

In [8]:
base_mercado2 = pd.read_csv('mercado2.csv', header=None)
base_mercado2

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7500,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

produtos que são vendidos 4 vezes por dia
4 * 7(numero de dias que tem registrado na base de dados)
28
28/7501(numero de registros na base de dados)

In [9]:
28/7501

0.0037328356219170776

In [10]:
transacoes = []

for i in range(base_mercado2.shape[0]):
    transacoes.append([str(base_mercado2.values[i, j]) for j in range(base_mercado2.shape[1])])
    
regras = apriori(transacoes, min_support=0.003, min_confidence=0.2, min_lift=3)
resultados = list(regras)
len(resultados)

160

In [11]:
A = []
B = []
suporte = []
confianca = []
lift = []

for resultado in resultados:
    s = resultado[1]
    result_rules = resultado[2]
    for result_rule in result_rules:
        a = list(result_rule[0])
        b = list(result_rule[1])
        c = result_rule[2]
        l = result_rule[3]
        A.append(a)
        B.append(b)
        confianca.append(c)
        suporte.append(s)
        lift.append(l)

In [12]:
rules_df = pd.DataFrame({'A': A, 'B': B,  'suporte': suporte, 'confianca': confianca, 'lift': lift})

rules_df.sort_values(by='confianca', ascending=False)

,A,B,suporte,confianca,lift
347,"[frozen vegetables, soup, milk]","[nan, mineral water]",0.003066,0.766667,3.218112
353,"[frozen vegetables, nan, soup, milk]",[mineral water],0.003066,0.766667,3.216312
180,"[frozen vegetables, soup, milk]",[mineral water],0.003066,0.766667,3.216312
106,"[nan, ground beef, cereals]",[spaghetti],0.003066,0.676471,3.885303
104,"[ground beef, cereals]","[nan, spaghetti]",0.003066,0.676471,3.885303
...,...,...,...,...,...
358,"[frozen vegetables, shrimp]","[nan, mineral water, spaghetti]",0.003333,0.200000,3.348661
371,"[milk, nan, ground beef]","[mineral water, spaghetti]",0.004399,0.200000,3.348661
370,"[milk, ground beef]","[nan, mineral water, spaghetti]",0.004399,0.200000,3.348661
224,"[milk, ground beef]","[mineral water, spaghetti]",0.004399,0.200000,3.348661
360,"[frozen vegetables, nan, shrimp]","[mineral water, spaghetti]",0.003333,0.200000,3.348661

# ECLAT

In [13]:
base_mercado1

      leite cerveja       pao  manteiga
0      cafe     pao  manteiga       NaN
1      cafe     pao  manteiga       NaN
2     leite    cafe       pao  manteiga
3   cerveja     NaN       NaN       NaN
4  manteiga     NaN       NaN       NaN
5       pao     NaN       NaN       NaN
6    feijao     NaN       NaN       NaN
7     arroz  feijao       NaN       NaN
8     arroz     NaN       NaN       NaN

In [17]:
from pyECLAT import ECLAT
eclat = ECLAT(data = base_mercado1)

KeyError: 0